# Grafana Proxy Configuration
grafana.yuandrk.net {
    header /* {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
    }
    reverse_proxy grafana:3030
}

# ChatGPT (Open WebUI) Proxy Configuration
ia.yuandrk.net {
    reverse_proxy open-webui:8080
}

# n8n Proxy Configuration
n8n.yuandrk.net {
    reverse_proxy n8n:5678
}